.nav-bar{
    background-color: palevioletred;
    height: 100%;
    width: 100px;
    
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    position: fixed;
}

.top-nav-buttons{
    margin-top: 10px;
}

.logout-button{
    margin-bottom: 10px;
}

.profile-pic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0.5px 0.5px 15px 2px rgb(72, 72, 72);
        /* h-offset, v-offset, blur, spread radius, color */
}